.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.main-layout {
  transition: all .2s;
}

.nav-link {
  color: rga(255, 255, 255, 0.65);
}

.nav-link:active {
  color: '#fff',
}

.nav-link:hover {
  color: '#fff',
}