.header {
  background: #2f4956;
}

.search {
  display: flex;
  justify-content: center !important;
}

.menu {
  display: flex;
}

.brand {
  color: white;
  padding-left: 10px;
  padding-top: 13px;
  font-size: 30px;
  font-weight: bold;
  font-family: Lobster;
}
