
<!-- Body -->
<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <!-- Hiển thị thông tin tìm kiếm ở đây -->

        <div class="row">        
        <h4 style="padding-top: 14px"> Tìm kiếm nâng cao</b></h4>
        <div class="col-md-12 list-search">
            <div class="form-group search-item">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></div>
                    <input type="text" class="form-control"  placeholder="Tên sản phẩm">
                </div>
            </div>
            <div class="form-group search-item">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-gg" aria-hidden="true"></i></div>
                    <input type="number" class="form-control"  placeholder="Giá tiền">
                </div>
            </div>
            <div class="form-group search-item">
                <select class="form-control " style="min-width: 175px">\
                    <option>Johnie Walker</option>
                    <option>Nhà sản xuất</option>
                    <option>Chivas</option>
                    <option>Hennessy</option>
                    <option>Re'my Martin</option>
                    <option>Macallan</option>
                </select>
            </div>
           <div class="form-group search-item">
                <select class="form-control " style="min-width: 175px">
                    <option>Loại rượu</option>
                    <option>Cognac</option>
                    <option>Armagnac</option>
                    <option>Whisky</option>
                    <option>Champagne</option>
                    <option>Vodka</option>
                    <option>Brandy</option>
                </select>
            </div>
            <div class="form-group search-item">
                <button class="btn btn-primary" style="min-width: 120px"><i class="fa fa-search" aria-hidden="true"></i> <b>Search</b></button>
            </div>
        </div>
        </div>
        <hr>
        <h4 style="padding-top: 14px"> Kết quả tìm kiếm theo: <b>Loại rượu {{catName}}</b></h4>
        <hr>
        <!-- Hiển thị kết quả tìm kiếm ở đây-->
        <div class="row">
            {{#each products}}
            <div class="col-md-3">
                <a href="#" class="thumbnail thumbnail-carousel">
                    <img alt="Image" src="{{thumbnail}}"
                            class="img-responsive" style="width: 236px; height: 295px;">
                    <div class="caption">
                        <h4>{{productName}}</h4>
                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: {{price}} VND</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End body -->
