<!-- Body -->
<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <h4 style="padding-top: 14px"> <b>Lịch sử đơn hàng </b></h4>
        <hr>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="col-lg-3 text-center">Mã đơn hàng</th>
                <th class="col-lg-3 text-center">Ngày tạo</th>
                <th class="col-lg-3 text-center">Tình trạng</th>
                <th class="col-lg-3 text-center"> </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <h4>003</h4>
                    </td>
                    <td class="text-center">
                        <h4>29/11/2017</h4>
                    </td>
                    <td class="text-center">
                        <h4 class="text-success">Đã giao hàng</h4>
                    </td>
                    <td class="text-center">
                        <a href="cart.html" class="btn btn-info"> Chi tiết </a>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h4>002</h4>
                    </td>
                    <td class="text-center">
                        <h4>28/11/2017</h4>
                    </td>
                    <td class="text-center">
                        <h4 class="text-info">Đang giao hàng</h4>
                    </td>
                    <td class="text-center">
                        <a href="cart.html" class="btn btn-info"> Chi tiết </a>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h4>001</h4>
                    </td>
                    <td class="text-center">
                        <h4>27/11/2017</h4>
                    </td>
                    <td class="text-center">
                        <h4 class="text-danger">Đã hủy đơn hàng</h4>
                    </td>
                    <td class="text-center">
                        <a href="cart.html" class="btn btn-info"> Chi tiết </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End body -->