<div class="container">
    <!-- Top slide -->
    <div class="row">
        <div id="top-slide" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators my-carousel-indicators">
                <li data-target="#top-slide" data-slide-to="0" class="active"></li>
                <li data-target="#top-slide" data-slide-to="1"></li>
                <li data-target="#top-slide" data-slide-to="2"></li>
            </ol>
            <div class='carousel-inner' role='listbox'>
                <div class='item item-top-slide active'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-01.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Hennessy</h1>
                    </div>
                </div>
                <div class='item item-top-slide'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-02.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Chivas</h1>
                    </div>
                </div>
                <div class='item item-top-slide'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-03.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Johnie Walker</h1>
                    </div>
                </div>
                <div class='item item-top-slide'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-04.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Red Vin</h1>
                    </div>
                </div>
            </div>

            <a class='left carousel-control' href='#top-slide' role='button' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
            </a>

            <a class='right carousel-control' href='#top-slide' role='button' data-slide='next'>
                <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
            </a>
        </div>
    </div>
    <!-- End top slide -->

    <!-- Top 10 sản phẩm mới nhất -->
    <hr class="hr-text" data-content="Sản phẩm mới nhất">
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel" class="carousel my-carousel slide carousel-fade">
                <ol class="carousel-indicators my-carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-01.png"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Chivas Regal</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 550.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-02.png"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Chivas Regal 12</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 620.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-03.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Chivas Regal 18</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.150.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-04.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Chivas Resolve</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.250.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-05.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Chivas Regal 18 Gift Box</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-06.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Chivas Regal 18 Blue</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.400.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-07.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Blue Signature</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.600.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-08.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Chivas Royal Salute</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.250.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-03.jpg"
                                            class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Chivas Regal 18</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.150.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/chivas/chivas-04.jpg"
                                            class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Chivas Resolve</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.250.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                </div>
                <!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel" class="left carousel-control my-carousel-control">‹</a>
                <a data-slide="next" href="#Carousel" class="right carousel-control my-carousel-control">›</a>
            </div>
            <!--.Carousel-->
        </div>
    </div>
    <!-- End 10 sản phẩm mới nhất -->

    <!-- Top 10 sản phẩm bán chạy -->
    <hr class="hr-text" data-content="Sản phẩm bán chạy">
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel-1" class="carousel my-carousel slide carousel-fade">
                <ol class="carousel-indicators my-carousel-indicators">
                    <li data-target="#Carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel-1" data-slide-to="1"></li>
                    <li data-target="#Carousel-1" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-01.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Hennessy VS</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 750.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-02.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy VSOP</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.150.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-03.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy VSOP</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-04.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy VSOP Limitted</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-05.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Hennessy VSOP</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.350.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-06.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy VSOP</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.400.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-07.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy VSOP</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 3.000.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-08.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy XO</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 3.400.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-03.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy VSOP</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/hennessy/hen-04.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px">
                                    <div class="caption">
                                        <h4>Hennessy VSOP Limitted</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                </div>
                <!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel-1" class="left carousel-control my-carousel-control">‹</a>
                <a data-slide="next" href="#Carousel-1" class="right carousel-control my-carousel-control">›</a>
            </div>
            <!--.Carousel-->
        </div>
    </div>
    <!-- End 10 sản phẩm bán chạy -->

    <!-- Top sản phẩm xem nhiều nhất -->
    <hr class="hr-text" data-content="Sản phẩm xem nhiều">
     <div class="row">
        <div class="col-md-12">
            <div id="Carousel-2" class="carousel my-carousel slide carousel-fade">
                <ol class="carousel-indicators my-carousel-indicators">
                    <li data-target="#Carousel-2" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel-2" data-slide-to="1"></li>
                    <li data-target="#Carousel-2" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-01.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 750.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-02.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.150.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-03.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-04.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-05.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.350.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-06.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.400.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-07.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 3.000.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-8.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 3.400.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-01.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="wine.html" class="thumbnail thumbnail-carousel">
                                    <img alt="Image" src="images/johnie/john-02.jpg"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>Johnie Walker</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: 1.300.000 VND</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                </div>
                <!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel-2" class="left carousel-control my-carousel-control">‹</a>
                <a data-slide="next" href="#Carousel-2" class="right carousel-control my-carousel-control">›</a>
            </div>
            <!--.Carousel-->
        </div>
    </div>
    <!-- End Top sản phẩm xem nhiều nhất -->
</div>
<!-- End body -->
